body {
  font-family:'Times New Roman', 'Times New Roman', Times, serif, serif,;
  background-color: #bcdfe4; 
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #092567; 
}


header {
  background-image: url("azul1.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 3rem 1rem;
}

header h2 {
  font-size: 2rem;
  margin: 0;
  color: #163a40; 
  text-shadow: 1px 1px 2px #303b54; 
}

.frase-inicial {
  font-style: italic;
  color: #3b677d;
  margin-top: 0.5rem;
  text-shadow: 1px 1px 1px #293a4d;
}

nav {
  background-color: #75a8bd; 
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
}

nav a {
  color: #255173;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: rgb(2, 3, 5);
}


section {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

section h2 {
  color: #045f69;
  text-align: center;
  margin-bottom: 1rem;
}

#Oraciones table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: #75a8bd ;
  box-shadow: 0 2px 8px rgba(89, 96, 105, 0.1);
}
#Oraciones th {
  background-color:  #528daa; 
  color: #0c1f29;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


#Oraciones th,
#Fragmento th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #538499;
}


#Fragmentos  tr {
  background-color: #2c455a; 
  color: #6da7cb;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
#Oraciones th {
  font-size: 24px;
}
#Oraciones td {
  font-size:20px;
}


#frases tr:hover {
  background-color: #3f4d99;
  transition: background-color 0.3s ease;
}

#Virtudes table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: #93d9f0 ;
  box-shadow: 0 2px 8px rgba(32, 62, 97, 0.1);
}

#Virtudes h2 {
  padding: 30px;
  text-align: left;
  border-bottom: 1px solid #8cd7f7;
}

#Virtudes h1 {
  color: #255c6b;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
#Virtudes table td {
  font-size: 21px;
  padding: 12px;
  list-style: 1.6;
}
#Datos li {
  font-size: 25px;
}
#Datos h1 {
  font-size:30px;
}
.contenedor-galeria {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
.tarjeta-obra {
  flex: 1 1 calc(100%- 1rem);
  max-width: 420px;
  text-align: center;
}

.tarjeta-obra img {
  width: calc(100% - 0.5rem);
  max-width: 450px;
  height: auto;
  border: 6px solid #000000;
  box-shadow: 2px 6px 16px rgba(30,30,30,0.2);
  transition: transform 0.3s ease, rotate 0.3s ease;
}

.tarjeta-obra:nth-child(odd) {
  transform: rotate(-1deg);
}
.tarjeta-obra:nth-child(even) {
  transform: rotate(1deg);
}

.tarjeta-obra img:hover {
  transform: scale(1.05) rotate(0deg);
}

footer {
  background-color: #93c4ec;
  color: #317087;
  text-align: center;
  padding: 1rem;
}

footer a {
  color: #7ac4df;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  margin: 0 0.5rem; 
  font-size: 1.8rem; 
  display: inline-block; 
}

footer a:hover {
  color: rgb(83, 151, 177);
}


